.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
   
   
  }
  .quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  
  .half-image{
    width: 50vw;
    height: 100vh;
    overflow: hidden;
  }
  .half-content {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color:rgb(129, 185, 226);
    
   
  
}
.half-content-it{
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:rgb(142,162,164);
    margin: 1px;
    text-align: start;
  }
.content2 {
    width: 25vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 1px;
  
}
.content3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 5px;
 
  background-color:rgb(142,162,164);
    >ul{
        font-size: 29px
    }
    >li{
        font-size: 15px;
    }
    }
  .contentq {
    background-color:transparent;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }  
  h1 {
    font-size: 33px;
    margin: 0;
    font-weight: bold;
  }
  
  p {
    margin: 18px;
    font-size: 20px;
    }

  