/* ImageSlider.css */
.image-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  height: 100%;
  background-color: white;
  margin-top: 20px;
}
.image-slider .image-slider-container {
  display: flex;
  animation:    slide 30s linear infinite;
  white-space: nowrap;
}
.image-slide {
  width: 100vw;
  overflow: hidden;
  display: inline-block;
}
.image-slide img {
  width: 100px;
  height: 100px;
  margin: 10px;

}
.image-slide1 {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}
.image-slide1 img {
  width: 150px;
  height: 150px;
 
}
.slide-text{
 
  display: flex;
  float: left;
  top: 50vh ;
  left: 0;
  animation: slide  10sec infinite 1sec  left ;
}
.slide-text p{

 font-size: 50px;
 color: black;
 font-weight: 800;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy;
 
}
@keyframes slide {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(-100%);
 }
}
@media (max-width: 361px) {
  .image-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    height: 100%;
    background-color: white;
    margin-top: 20px;
  }
  .image-slide img {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .image-slider .image-slider-container {
    display: flex;
    animation:    slide 30s linear infinite;
    white-space: nowrap;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
   }
    100% {
      transform: translateX(-100%);
   }
  }
}