
/* src/components/ImageGallery.css */
.domains {
	margin-top: 30px;
	h1 {
		font-size: 34px;
		font-weight: 700;
	}
}
.image-gallery {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100%;
	align-items: center;
	
	.image-card {
		width: 20%;
		padding: 10px;
		box-sizing: border-box;
		text-align: center;
		
		img {
			width: 120px;
			height: 120px;
			&:hover{
				width: 170px;
				height: 170px;
			}
		}
		button {
			display: block;
			margin: auto;
		}
	}
}
@media (max-width: 508px) {
	.image-gallery {
		flex-direction: column;
	}
	.image-card {
		width: 100%;
	}
}
