.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.container .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .image img {
  width: 90vw;
  height: 90vh;
}
.container .left {
  margin-left: 20px;
}
.container .right {
  margin-right: 20px;
}
